<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/foundation.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/seatselection.css}" />
    <script th:src="@{/resources/js/vendor/modernizr.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery-1.11.0.min.js}"></script> 
	<script type="text/javascript" th:src="@{/resources/js/jquery.seat-charts.min.js}"></script> 
    <title>UFO Kino</title>

</head>
<body>

<header th:include="header :: header"></header>

<div class="row">

    <nav th:include="navigation :: navigation"> </nav>

	<h4 th:text="'Kommentare für ' + ${movie.name}">titel</h4>
    <div class="large-9 columns">
    	<div class="alert-box secondary">
       Zu diesem Film existieren noch keine Kommentare.
       </div>
       <div style="border: 1px solid gray; padding: 10px; margin: 15px;">
			<span style="font-weight: bold;">A. Name</span><span> (Bewertung)</span><br />
			<span style="margin-left: 30px;">Dies ist mein Kommentar</span>
		</div>
		<div style="border: 1px solid gray; padding: 10px; margin: 15px;">
			<span style="font-weight: bold;">B. Muster</span><span> (Bewertung)</span><br />
			<span style="margin-left: 30px;">Dies ist ein anderer Kommentar</span>
		</div>
    </div>
		
	<div sec:authorize="hasRole('ROLE_CUSTOMER')" th:if="${orders.contains(movie)}" class="large-9 columns">
				<form method="post" action="/comment">
					<fieldset>
						<legend>Kommentar hinzufügen</legend>
						<input type="hidden" name="movie" value="0" th:value="${movie.id}" />
						<label for="rating">Bewertung</label>
						<input id="rating" type="text" name="rating" placeholder="Zahl 1 bis 5" /> 
						<label for="comment">Kommentar</label>
						<textarea name="comment" cols="40" rows="5"></textarea>
						<input type="submit" class="button small success radius" value="Senden" />
					</fieldset>
				</form>
				</div>
</div>
</body>
</html>
