<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/foundation.css}" />
        <script th:src="@{/resources/js/vendor/modernizr.js}"></script>
        <title>UFO Kino</title>
    </head>
    
    <body>
        <nav th:fragment="subnavGetMoney">
        <ul class="button-group even-4">
            <li>
                <a th:if="${#httpServletRequest.requestURI.contains('getMoneyDay')}" sec:authorize="hasAnyRole('ROLE_BOSS')" class="small success button" style="background-color: #368A55; width: 160px" th:href="@{/getMoneyDay.html}" href="getMoneyDay.html" th:text="#{getMoney.getMoneyDay}">Umsatz</a>
                <a th:unless="${#httpServletRequest.requestURI.contains('getMoneyDay')}" sec:authorize="hasAnyRole('ROLE_BOSS')" class="small success button" style="width: 160px" th:href="@{/getMoneyDay.html}" href="getMoneyDay.html" th:text="#{getMoney.getMoneyDay}">Umsatz</a>
            </li>
            <li>
                <a th:if="${#httpServletRequest.requestURI.contains('getMoneyMonth')}" sec:authorize="hasAnyRole('ROLE_BOSS')" class="small success button" style="background-color: #368A55; width: 160px" th:href="@{/getMoneyMonth.html}" href="getMoneyMonth.html" th:text="#{getMoney.getMoneyMonth}">Umsatz</a>
                <a th:unless="${#httpServletRequest.requestURI.contains('getMoneyMonth')}" sec:authorize="hasAnyRole('ROLE_BOSS')" class="small success button" style="width: 160px" th:href="@{/getMoneyMonth.html}" href="getMoneyMonth.html" th:text="#{getMoney.getMoneyMonth}">Umsatz</a>
            </li>
            <li>
                <a th:if="${#httpServletRequest.requestURI.contains('getMoneyYear')}" sec:authorize="hasAnyRole('ROLE_BOSS')" class="small success button" style="background-color: #368A55; width: 160px" th:href="@{/getMoneyYear.html}" href="getMoneyYear.html" th:text="#{getMoney.getMoneyYear}">Umsatz</a>
                <a th:unless="${#httpServletRequest.requestURI.contains('getMoneyYear')}" sec:authorize="hasAnyRole('ROLE_BOSS')" class="small success button" style="width: 160px" th:href="@{/getMoneyYear.html}" href="getMoneyYear.html" th:text="#{getMoney.getMoneyYear}">Umsatz</a>
            </li>
    	</ul></nav>
    </body>
</html>